<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Parcel Results</title>
</head>
<body>
<h1>Mail Sending Costs</h1>
<p> <%= message %> of <%= weight %> grams and it will cost $<%= price %>
<p> Thank you for using our postal services</p>
</body>
</html>

